checkpoint/
dataset/
wandb/
__pycache__/
*.pyc
.idea/
*.ipynb
figures/
.DS_Store
misc/
scripts/cur.sh
scripts/cur2.sh
scripts/eval.sh
scripts/finetune.sh
scripts/finetune2.sh
scripts/freeze_encoder.sh
scripts/freeze_encoder_2.sh
scripts/lora.sh
scripts/mixed_ft.sh
scripts/new.sh
scripts/notext.sh
scripts/plot.sh
scripts/run_ft.sh
scripts/run.sh
scripts/run2.sh
scripts/run3.sh
scripts/tmp.sh
scripts/PAML.sh